* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.sacramento {
    font-family: 'Sacramento', cursive;
    font-size: 64px;
    text-align: center
}

.section__one {
    background: url(images/bg.jpg); 
    background-repeat: no-repeat;
    min-height: 120vh;
    position: relative;
}

.dp {
    position: absolute;
    top: 80%;
    right:35%;
}

.section__one__navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}

.section__one__texts {
    font-family: 'Rye', cursive;
    color: white;
    text-align: center;
    padding: 5em 0;
}

.section__one__texts > h3 {
    font-family: sans-serif;
}

.section__one__icons {
    font-size: 3.5em;
    text-align: center;
}

.section__two__about {
    background-color: #E6E6E6;
    padding-top: 24em;
    padding-bottom: 5em;
    padding-left: 5em;
    padding-right: 5em;
}

.icons {
    color: green;
    justify-content: center
}

.brief__about {
    display: flex;
    margin: 3.5em 1em;
    /* margin-left: 3em; */
    justify-content: center;
    align-items: center;
}


.section__two__texts > h2 {
    text-align: center;
}

.section__two__texts >  p {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.section__two__texts >  h5 {
    color: green;
    text-align: center;
}

.content__about {
    text-align: center;
    margin: 1.5em,
}

.brief__about__heading {
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 1em;
    padding-right: 5em;
}


.text__center {
    text-align: center;
    padding: 0 4em;
}

.section__three {
    background-color: #1C202B;
}

.section__three__heading {
    padding: 3em 95px;
    color: white;
}

.section__three__about {
    text-align: center;
}

.section__three__about > p {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 0.5em 0;
}

.resume__texts {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

.resume__style {
    border: 1px green solid;
    padding: 1em 1em;
    margin: 170px;
    margin-bottom: 80px;
}

.section__four__main {
    background-color: #C4C4C4;
}

.testimonials {
    text-align: center;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    /* padding: 2.5em auto; */
}

.testimonials > span { 
    font-size: 48px;
    text-transform: capitalize;
}

.testimonials > p {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: bold;
}

.quotes {
    text-align: center;
    font-size: 16px;
    padding: 3em 6em;
}


.link {
    margin:  32em;
    padding: 1em 1em;
    color: red;
    border: 2px #652525 solid;
    text-transform: uppercase;
    border-radius: 11%;
}



.section__five__container {
    background-color: #1C202B;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2em;
    font-weight: bold;
    
}

.client__list {
    display: flex;
    justify-content: space-between;
    margin: auto 3em;
    padding-bottom: 3em;
}